@using Project1.Models;
@model Schooling
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>STEP1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>


</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="signup-form mt-5 border p-4 bg-light shadow">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <h4 class="mb-5 text-secondary">ADD SSCDetails Info</h4>
                        <h4 class="mb-5 text-secondary">STEP2</h4>
                        <div class="row">
                            <div class="mb-6 col-md-6">
                                <label> HTDID<span class="text-danger">*</span></label>
                                @Html.TextBoxFor(model => model.HTDID, new { @class = "form-control", placeholder="Enter HTDID" })
                                @Html.ValidationMessageFor(model => model.HTDID, "", new { @class = "text-danger" })
                            </div>

                            <div class="mb-6 col-md-6">
                                <label> SchoolName<span class="text-danger">*</span></label>
                                @Html.TextBoxFor(model => model.SchoolName, new { @class = "form-control", placeholder="Enter SchoolName" })
                                @Html.ValidationMessageFor(model => model.SchoolName, "", new { @class = "text-danger" })
                            </div>
                            <div>
                                <div class="mb-3 col-md-6">
                                    <label>SscPassYear<span class="text-danger">*</span></label>
                                    @Html.EditorFor(model => model.SscPassYear, new { htmlAttributes = new { @class = "form-control input-md", @placeholder = "SscPassYear"} })
                                    @Html.ValidationMessageFor(model => model.SscPassYear, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="mb-6 col-md-6">
                                <label> SscAggregate<span class="text-danger">*</span></label>
                                @Html.TextBoxFor(model => model.SscAggregate, new { @class = "form-control", placeholder="Enter SscAggregate" })
                                @Html.ValidationMessageFor(model => model.SscAggregate, "", new { @class = "text-danger" })
                            </div>
                            
                        </div>

                        <div class="col-md-7">
                            <p class="text-center mt-3 text-secondary">Move To Next Page  @Html.ActionLink("STEP3","Intermediate","Project")</p>
                        </div>
                        <div class="col-md-5">
                            <input type="submit" class="btn btn-primary float-end" value="Submit" onclick="alert('DO YOU WANT SAVE YOUR DATA?')">

                        </div>

                    }@ViewBag.Message
                </div>
</body>

</html>
